.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
    .gallery div {
    margin-top: 10px;
    }
    
    .photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: wheat;
    }
    
    